* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    padding-top: 135px;
    padding-bottom: 140px;
    background-image: url("../media/footer.png");
}

.main #message-form {
    display: flex;
    flex-direction: column;
}

.main #message-form .user-data {
    display: flex;
}

.main #message-form .user-data div {
    display: flex;
    flex-direction: column;
    color: white;
}